<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="text-center mb-4">Sign In</h3>

    <%= form_with url: sessions_path, local: true do %>
      <div class="mb-3">
        <%= label_tag :email, "Email Address" %>
        <%= email_field_tag :email, nil, class: "form-control", required: true %>
      </div>

      <div class="mb-3">
        <%= label_tag :password, "Password" %>
        <%= password_field_tag :password, nil, class: "form-control", required: true %>
      </div>

      <%= submit_tag "Login", class: "btn btn-primary w-100" %>
    <% end %>
  </div>
</div>
