<h2>Employees</h2>

<div class="text-end mb-3">
  <%= link_to "Add Employee", new_employee_path, class: "btn btn-success" %>
</div>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Designation</th>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |emp| %>
      <tr>
        <td><%= emp.first_name %> <%= emp.last_name %></td>
        <td><%= emp.email %></td>
        <td><%= emp.designation %></td>
        <td><%= emp.department.name %></td>
        <td>
          <%= link_to "Edit", edit_employee_path(emp), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", emp, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
